<div class="forgot-password-page">
  @if (!isSuccessSg()) {
    <app-brand-logo class="forgot-password-page__icon" />
  }

  <div class="forgot-password-page__section">
    @if (!isSuccessSg()) {
      <h1 class="forgot-password-page__title">Recover Your Account</h1>

      <app-email-input
        label="Email address"
        [required]="true"
        [value]="emailSg()"
        (valueChange)="emailSg.set($event)"
        #emailInput
      ></app-email-input>

      @if (errorSg()) {
        <app-message [message]="errorSg()!" type="error" />
      }

      <div class="forgot-password-page__actions">
        <button class="btn-primary" (click)="submit()" [disabled]="isLoadingSg()">
          {{ isLoadingSg() ? 'Sending...' : 'Send Recovery Link' }}
        </button>
      </div>

      <div class="forgot-password-page__footer">
        <div class="forgot-password-page__footer-text">Remember your password?</div>
        <a routerLink="/login" class="link-primary">Back to login</a>
      </div>
    } @else {
      <div class="forgot-password-page__success">
        <app-loader title="Recovery link sent!" message="Redirecting to login page..." />
      </div>
    }
  </div>
</div>
