@use 'variables/colors' as *;
@use 'mixins' as m;

.registration-page {
  height: 100%;
  display: flex;
  align-items: center;
  background: $color-bg-primary;
  color: $color-text-primary;
  flex-direction: column;
  overflow-y: auto;

  @include m.scrollbar;

  &__icon {
    width: 50px;
    height: 50px;
    padding-top: 48px;
  }

  &__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__login-text {
    font-size: 14px;
    color: $color-text-secondary;
  }

  &__section {
    width: 100%;
    max-width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

    @media (min-width: 480px) {
      width: 380px;
    }
  }
}
