<header class="header">
  <!-- Title section (left) -->
  <div class="header__title">
    <img src="/assets/images/spotlite-white.png" alt="Logo" class="header__logo" />
    <ng-content select="[title]"></ng-content>
  </div>

  <!-- Center section -->
  <div class="header__center">
    <ng-content select="[center]"></ng-content>
  </div>

  <!-- Actions section (right) -->
  <div class="header__actions">
    @if (authService.isAuthenticatedSg()) {
      <app-user-profile-dropdown />
    } @else {
      <a routerLink="/register" class="link-primary">Register</a>
      <a routerLink="/login" class="btn-light">Login</a>
    }
  </div>
</header>
