.git
**/bin
**/build
**/dist
**/coverage
**/node_modules
**/.vscode
**/.idea
**/*.log
**/.env
**/.DS_Store
**/tmp
**/vendor
*.swp
*.swo
*.tmp
*.bak
*.local
*.orig
*.rej
Dockerfile
docker-compose*.yml
