# Example .env file for local development
# Copy this file to .env and update the values as necessary.

#> Docker Compose (local development)
# Unix-based shell
COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml:user-service/docker-compose.yml

# Uncomment for Windows (PowerShell, CMD)
# COMPOSE_FILE=docker-compose.yml;docker-compose.dev.yml;user-service/docker-compose.yml

#> Application Settings
# Application port used by the main proxy for local development
# This is the port where to access the web applicaiton
APP_HTTP_PORT=3000
APP_HTTPS_PORT=4443
# Traefik Dashboard port for local development
APP_GATEWAY_DASHBOARD_PORT=8080

# JWT Secret key used for verifying JWT-signed requests
# Used by multiple service to verify user's access tokens
APP_JWT_VALIDATION_KEY=some-secret-key

#> User Service
# Database credentials
SRV_USER_MONGO_ROOT_USERNAME=root
SRV_USER_MONGO_ROOT_PASSWORD=super-secure-password123
SRV_USER_MONGO_ROOT_PASSWORD_FILE= # alternative to use a file for docker-secrets
SRV_USER_MONGO_DATABASE=user-service
SRV_USER_MONGO_USERNAME=mongo
SRV_USER_MONGO_PASSWORD=super-cool-password123

# SMTP
SRV_USER_SMTP_HOST=mailhog
SRV_USER_SMTP_PORT=1025
SRV_USER_SMTP_USERNAME= # not needed for local development
SRV_USER_SMTP_PASSWORD= # not needed for local development

# JWT Secret key used for signing
SRV_USER_JWT_SECRET=super-secret-jwt-token

# JWT Access Token Expiration time in seconds
SRV_USER_JWT_ACCESS_EXPIRATION_SECONDS=3600 # 1 hour

# JWT Refresh Token Expiration time in seconds
SRV_USER_JWT_REFRESH_EXPIRATION_SECONDS=86400 # 1 day

# Verification redirect URLs
# TODO: update with actual URLs
SRV_USER_VERIFICATION_SUCCESS_URL=https://google.com
SRV_USER_VERIFICATION_FAILURE_URL=https://apple.com

# Login OTP expiration in minutes
SRV_USER_LOGIN_OTP_TTL_MINUTES=5
