@let label = labelSg();

<div class="otp-input">
  @if (label) {
    <label class="otp-input__label">
      {{ label }}
    </label>
  }
  <div class="otp-input__boxes">
    @for (digit of digitsSg(); track $index) {
      <input
        autocomplete="off"
        class="otp-input__box"
        [class.otp-input__box--error]="errorSg()"
        [id]="'otp-' + $index"
        type="text"
        inputmode="numeric"
        maxlength="1"
        [(ngModel)]="digitsSg()[$index]"
        (input)="onDigitChange($index, $event.target.value)"
        (keydown)="onKeyDown($index, $event)"
        (click)="$event.target.select()"
      />
    }
  </div>
</div>
<app-error [message]="errorSg()" />
