@if (!embeddedSg()) {
  <app-dialog title="Change Password" (closed)="cancel()">
    <div content class="change-password-dialog">
      <app-password-input
        label="Current Password"
        [required]="true"
        [min]="10"
        [max]="20"
        [value]="currentPasswordSg()"
        (valueChange)="currentPasswordSg.set($event)"
      ></app-password-input>

      <app-password-input
        label="New Password"
        [required]="true"
        [min]="10"
        [max]="20"
        [showCriteria]="true"
        [value]="newPasswordSg()"
        (valueChange)="newPasswordSg.set($event)"
      ></app-password-input>

      <app-password-input
        label="Confirm Password"
        [required]="true"
        [min]="10"
        [max]="20"
        [value]="confirmPasswordSg()"
        (valueChange)="confirmPasswordSg.set($event)"
      ></app-password-input>

      @if (showPasswordMismatchSg()) {
        <app-message message="Passwords do not match" type="error" />
      }

      @if (errorSg()) {
        <app-message [message]="errorSg()" type="error" />
      }
    </div>

    <div footer class="change-password-dialog__footer">
      <button class="btn-secondary" (click)="cancel()" [disabled]="loadingSg()" type="button">
        Cancel
      </button>
      <button
        class="btn-primary"
        (click)="submit()"
        [disabled]="!isValidSg() || loadingSg()"
        type="button"
      >
        @if (loadingSg()) {
          <span class="btn-spinner" aria-hidden="true"></span>
        }
        Change Password
      </button>
    </div>
  </app-dialog>
} @else {
  <div class="change-password-dialog">
    <app-password-input
      label="Current Password"
      [required]="true"
      [min]="10"
      [max]="20"
      [value]="currentPasswordSg()"
      (valueChange)="currentPasswordSg.set($event)"
    ></app-password-input>

    <app-password-input
      label="New Password"
      [required]="true"
      [min]="10"
      [max]="20"
      [showCriteria]="true"
      [value]="newPasswordSg()"
      (valueChange)="newPasswordSg.set($event)"
    ></app-password-input>

    <app-password-input
      label="Confirm Password"
      [required]="true"
      [min]="10"
      [max]="20"
      [value]="confirmPasswordSg()"
      (valueChange)="confirmPasswordSg.set($event)"
    ></app-password-input>

    @if (showPasswordMismatchSg()) {
      <app-message message="Passwords do not match" type="error" />
    }

    @if (errorSg()) {
      <app-message [message]="errorSg()" type="error" />
    }

    @if (successSg()) {
      <app-message [message]="successSg()" type="success" />
    }
  </div>

  <div class="change-password-dialog__footer">
    <button
      class="btn-primary"
      (click)="submit()"
      [disabled]="!isValidSg() || loadingSg()"
      type="button"
    >
      @if (loadingSg()) {
        <span class="btn-spinner" aria-hidden="true"></span>
      }
      Change Password
    </button>
  </div>
}
