@use 'variables/colors' as *;

:host {
  width: 100%;
}

.registration-step-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;

  &__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__login-text {
    font-size: 14px;
    color: $color-text-secondary;
  }
}
