@use 'variables/colors' as *;

.error {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 12px;

  &__icon {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1.5px solid $color-form-error;
    color: $color-form-error;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 10px;
    flex-shrink: 0;
  }

  &__text {
    font-size: 13px;
    color: $color-form-error;
  }
}
