<div class="date-input">
  <div class="date-input__form-group">
    <label class="date-input__label" for="date">
      {{ labelSg() }}
      @if (requiredSg()) {
        <span class="date-input__required">*</span>
      }
    </label>
    <div class="date-input__input-wrapper">
      <input
        class="date-input__input"
        [class.date-input__input--error]="errorSg()"
        id="date"
        type="date"
        [placeholder]="placeholderSg()"
        [value]="valueSg()"
        [min]="minSg()"
        [max]="maxSg()"
        (input)="onValueChange($event.target.value)"
      />
    </div>
  </div>
  <app-error [message]="errorSg()" />
</div>
