@use 'variables/colors' as *;

:host {
  width: 100%;
}

.credentials-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;

  app-message {
    width: 100%;
    align-self: stretch;
  }

  &__content {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
