@let error = store.errorSg();
@let loading = store.loadingSg();

<div class="credentials-step">
  <h2 class="credentials-step__title">Create Credentials</h2>

  <div class="credentials-step__content">
    <app-text-input
      label="Username"
      placeholder="Choose a username"
      [required]="true"
      [min]="4"
      [max]="20"
      [value]="usernameSg()"
      (valueChange)="usernameSg.set($event)"
      #usernameInput
    ></app-text-input>

    <app-password-input
      label="Password"
      [required]="true"
      [min]="10"
      [max]="20"
      [showCriteria]="true"
      [value]="passwordSg()"
      (valueChange)="passwordSg.set($event)"
      #passwordInput
    ></app-password-input>

    <app-password-input
      label="Confirm Password"
      [required]="true"
      [min]="10"
      [max]="20"
      [value]="confirmPasswordSg()"
      (valueChange)="confirmPasswordSg.set($event)"
      #confirmPasswordInput
    ></app-password-input>
  </div>

  @if (error) {
    <div class="credentials-step__error">{{ error }}</div>
  }

  <div class="credentials-step__actions">
    <button class="btn-primary" (click)="submit()" [disabled]="loading">Continue</button>
  </div>
</div>
