<div class="album-details">
  <!-- <button class="album-details__back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
    <span>Back</span>
  </button> -->

  @if (isLoadingSg()) {
    <p class="album-details__loading">Loading album...</p>
  } @else if (fetchErrorSg()) {
    <app-message [message]="fetchErrorSg()" type="error" />
  } @else if (!albumSg()) {
    <p class="album-details__empty">Album not found</p>
  } @else {
    <!-- Album Info Widget -->
    <app-widget [title]="albumSg()!.title">
      <div content class="album-details__widget-content">
        <div class="album-details__header">
          <app-cover-art class="album-details__cover" [name]="albumSg()!.title" [square]="true" />
          <div class="album-details__info">
            <p class="album-details__release-date">
              Released: {{ formatDate(albumSg()!.releaseDate) }}
            </p>
            <div class="album-details__genres">
              @for (genre of albumSg()!.genres; track genre.id) {
                <span class="album-details__genre-tag">{{ genre.name }}</span>
              }
            </div>
            <div class="album-details__artists">
              <strong>Artists:</strong>
              <div class="album-details__artist-list">
                @for (artist of albumSg()!.artists; track artist.id) {
                  <a class="album-details__artist-tag" [routerLink]="['/artists', artist.id]">
                    {{ artist.name }}
                  </a>
                }
              </div>
            </div>
            <button type="button" class="album-details__play-all" (click)="playAlbum()">
              <mat-icon>play_arrow</mat-icon>
              Play album
            </button>
          </div>
        </div>
      </div>
    </app-widget>

    <!-- Songs Widget -->
    <app-widget title="Songs">
      <div content class="album-details__songs">
        @if (!albumSg()!.songs || albumSg()!.songs.length === 0) {
          <p class="album-details__no-songs">No songs in this album</p>
        } @else {
          <div class="album-details__songs-list">
            @for (song of albumSg()!.songs; track song.id) {
              <button type="button" class="album-details__song-item" (click)="playSong($index)">
                <div class="album-details__song-index">{{ $index + 1 }}</div>
                <div class="album-details__song-info">
                  <p class="album-details__song-title">{{ song.title }}</p>
                  <div class="album-details__song-meta">
                    @if (song.artists && song.artists.length > 0) {
                      <span class="album-details__song-artist">{{ song.artists[0].name }}</span>
                    } @else {
                      <span class="album-details__song-artist">Unknown Artist</span>
                    }
                    @if (song.genres && song.genres.length > 0) {
                      @for (genre of song.genres; track genre.id) {
                        <span class="album-details__song-genre">{{ genre.name }}</span>
                      }
                    }
                  </div>
                </div>
              </button>
            }
          </div>
        }
      </div>
    </app-widget>
  }
</div>
