@use 'variables/colors' as *;
@use 'mixins' as m;

.login-page {
  height: 100%;
  display: flex;
  align-items: center;
  background: $color-bg-primary;
  color: $color-text-primary;
  flex-direction: column;
  overflow-y: auto;

  @include m.scrollbar;

  &__icon {
    width: 50px;
    height: 50px;
    padding-top: 48px;
  }

  &__section {
    width: 100%;
    max-width: 380px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 480px) {
      width: 380px;
    }

    @media (min-width: 768px) {
      width: 400px;
    }

    @media (min-width: 1024px) {
      width: 420px;
    }
  }

  &__body {
    width: 100%;
    position: relative;
    min-height: 420px;
  }

  &__step {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
