@let error = store.errorSg();
@let loading = store.loadingSg();

<form class="personal-info-step" (submit)="$event.preventDefault(); submit()">
  <div class="personal-info-step__content">
    <app-email-input
      label="Email address"
      [required]="true"
      [value]="emailSg()"
      (valueChange)="emailSg.set($event)"
      #emailInput
    ></app-email-input>

    <hr class="personal-info-step__divider" />

    <div class="personal-info-step__row">
      <div class="personal-info-step__field">
        <app-text-input
          label="First Name"
          [required]="true"
          [showRequiredIndicator]="false"
          [min]="2"
          [max]="20"
          [pattern]="namePattern"
          [patternMessage]="namePatternMessage('First Name')"
          [value]="firstNameSg()"
          (valueChange)="firstNameSg.set($event)"
          #firstNameInput
        ></app-text-input>
      </div>

      <div class="personal-info-step__field">
        <app-text-input
          label="Last Name"
          [required]="true"
          [showRequiredIndicator]="false"
          [min]="2"
          [max]="20"
          [pattern]="namePattern"
          [patternMessage]="namePatternMessage('Last Name')"
          [value]="lastNameSg()"
          (valueChange)="lastNameSg.set($event)"
          #lastNameInput
        ></app-text-input>
      </div>
    </div>
  </div>

  @if (error) {
    <app-message [message]="error" type="error" />
  }

  <app-form-footer
    label="Continue"
    [inProgress]="loadingSg()"
    [submit]="true"
    (action)="submit()"
    hintText="Already have account?"
    hintLinkText="Login"
    hintLinkUrl="/login"
  />
</form>
