@let error = store.errorSg();

<form class="credentials-step" (submit)="$event.preventDefault(); submit()">
  <app-email-input
    label="Email address"
    [required]="true"
    [value]="emailSg()"
    (valueChange)="emailSg.set($event)"
    #emailInput
  ></app-email-input>

  <app-password-input
    label="Password"
    [required]="true"
    [showCriteria]="false"
    [min]="3"
    [value]="passwordSg()"
    (valueChange)="passwordSg.set($event)"
    #passwordInput
  ></app-password-input>

  <div class="credentials-step__forgot-password">
    <a routerLink="/forgot-password" class="credentials-step__forgot-password-link">
      Forgot password?
    </a>
  </div>

  @if (error) {
    <app-message [message]="error" type="error" />
  }

  <app-registration-step-footer
    label="Continue"
    [loading]="loadingSg()"
    [submit]="true"
    (action)="submit()"
    hintText="No account?"
    hintLinkText="Register"
    hintLinkUrl="/register"
  />
</form>
