@use 'variables/colors' as *;

:host {
  width: 100%;
}

.credentials-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &__title {
    margin: 20px;
    font-size: 48px;
    font-weight: 700;
    color: $color-text-primary;
  }

  &__error {
    font-size: 13px;
    color: $color-form-error;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 8px;
  }
}
