@let error = store.errorSg();
@let loading = store.loadingSg();

<div class="credentials-step">
  <h1 class="credentials-step__title">Welcome</h1>

  <app-email-input
    label="Email address"
    [required]="true"
    [value]="emailSg()"
    (valueChange)="emailSg.set($event)"
    #emailInput
  ></app-email-input>

  <app-password-input
    label="Password"
    [required]="true"
    [value]="passwordSg()"
    (valueChange)="passwordSg.set($event)"
    #passwordInput
  ></app-password-input>

  <div class="credentials-step__forgot-password">
    <a routerLink="/forgot-password" class="credentials-step__forgot-password-link">
      Forgot password?
    </a>
  </div>

  @if (error) {
    <app-message [message]="error" type="error" />
  }

  <div class="credentials-step__actions">
    <button class="btn-primary" (click)="submit()" [disabled]="loading">Continue</button>
  </div>
</div>
