<div class="page">
  <app-header />

  <div class="page__main">
    <aside class="page__aside">
      <ng-content select="[aside]"></ng-content>
    </aside>

    <main class="page__content">
      <ng-content select="[content]"></ng-content>
    </main>

    @if (authService.isAuthenticatedSg()) {
      <aside class="page__right">
        <app-now-playing-sidebar />
      </aside>
    }
  </div>

  @if (authService.isAuthenticatedSg()) {
    <div class="page__player">
      <app-playback-bar />
    </div>
  }

  <footer class="page__footer">
    <app-site-footer />
  </footer>
</div>
