<div class="page" [class.page--resizing]="isResizingSg()">
  <app-header />

  <div class="page__main">
    @if (showSidebarsSg() && authService.isAuthenticatedSg()) {
      <aside class="page__aside" [style.width.px]="leftSidebarWidthSg()">
        <ng-content select="[aside]"></ng-content>
      </aside>
      <div
        class="page__resizer page__resizer--left"
        (mousedown)="startResize('left', $event)"
        (dblclick)="resetSidebarWidth('left')"
        title="Drag to resize. Double-click to reset."
      ></div>
    }

    <main class="page__content">
      <ng-content select="[content]"></ng-content>
    </main>

    @if (showSidebarsSg() && authService.isAuthenticatedSg()) {
      <div
        class="page__resizer page__resizer--right"
        (mousedown)="startResize('right', $event)"
        (dblclick)="resetSidebarWidth('right')"
        title="Drag to resize. Double-click to reset."
      ></div>
      <aside class="page__right" [style.width.px]="rightSidebarWidthSg()">
        <app-now-playing-sidebar />
      </aside>
    }
  </div>

  @if (authService.isAuthenticatedSg()) {
    <div class="page__player">
      <app-playback-bar />
    </div>
  }

  <footer class="page__footer">
    <app-control-bar />
  </footer>
</div>
