<app-page>
  <div content class="profile-page">
    @if (profileUpdateSuccessSg()) {
      <app-message [message]="profileUpdateSuccessSg()" type="success" />
    }

    @if (passwordUpdateSuccessSg()) {
      <app-message [message]="passwordUpdateSuccessSg()" type="success" />
    }

    <app-widget title="Personal info">
      <div content class="profile-page__section-content">
        <app-profile-editor-dialog [embedded]="true" (saved)="onProfileSaved()" />
      </div>
    </app-widget>

    <app-widget title="Security and privacy">
      <div content class="profile-page__section-content">
        <button class="profile-page__section-item" type="button" (click)="openChangePasswordDialog()">
          <mat-icon class="profile-page__section-icon">lock</mat-icon>
          <span class="profile-page__section-label">Change Password</span>
          <mat-icon class="profile-page__section-arrow">chevron_right</mat-icon>
        </button>
      </div>
    </app-widget>

    <app-widget title="Account">
      <div content class="profile-page__account-actions">
        <button class="profile-page__logout-btn btn-light" type="button" (click)="logout()">
          <mat-icon aria-hidden="true">logout</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </app-widget>
  </div>
</app-page>

@if (isChangePasswordDialogOpenSg()) {
  <app-change-password-dialog (closed)="closeChangePasswordDialog()" (saved)="onPasswordSaved()" />
}
