<div class="reset-password-page">
  @if (!isSuccessSg()) {
    <img src="assets/images/spotlite-white.png" alt="Spotlite" class="reset-password-page__icon" />
  }

  <div class="reset-password-page__section">
    @if (isSuccessSg()) {
      <div class="reset-password-page__success">
        <app-loader
          title="Password Reset Successful!"
          message="Redirecting to login page..."
        ></app-loader>
      </div>
    } @else if (isValidatingSg()) {
      <p class="reset-password-page__validating">Validating recovery link...</p>
    } @else if (!isTokenValidSg()) {
      <h1 class="reset-password-page__title">Invalid Link</h1>
      <app-message type="error" message="Invalid or expired recovery link" />
      <div class="reset-password-page__footer">
        <div class="reset-password-page__footer-text">Don't have a recovery link?</div>
        <a routerLink="/forgot-password" class="link-primary">Request a new one</a>
      </div>
    } @else {
      <h1 class="reset-password-page__title">Reset Your Password</h1>

      <app-password-input
        label="New Password"
        [required]="true"
        [min]="10"
        [max]="20"
        [showCriteria]="true"
        [value]="passwordSg()"
        (valueChange)="passwordSg.set($event)"
        #passwordInput
      ></app-password-input>

      <app-password-input
        label="Confirm Password"
        [required]="true"
        [min]="10"
        [max]="20"
        [value]="confirmPasswordSg()"
        (valueChange)="confirmPasswordSg.set($event)"
        #confirmPasswordInput
      ></app-password-input>

      @if (errorSg()) {
        <app-message [message]="errorSg()!" type="error" />
      }

      <div class="reset-password-page__actions">
        <button class="btn-primary" (click)="submit()" [disabled]="isLoadingSg()">
          {{ isLoadingSg() ? 'Resetting...' : 'Reset Password' }}
        </button>
      </div>
    }
  </div>
</div>
