<app-auth-layout [title]="title" [showStepCount]="false">
  <div auth-body class="reset-password-page__body">
      @if (isSuccessSg()) {
        <div class="reset-password-page__success">
          <app-loader
            title="Password Reset Successful!"
            message="Redirecting to login page..."
          ></app-loader>
        </div>
      } @else if (!tokenSg()) {
        @if (isRequestSuccessSg()) {
          <app-auth-check-email
            title="Check your email"
            message="We've sent you a reset link. Please check your email and follow the instructions."
            hint="Didn't receive it? Check your spam folder."
          />
        } @else {
          <p class="reset-password-page__description">
            Enter the email address associated with your account and we’ll send you a recovery link to
            reset your password.
          </p>

          <app-email-input
            label="Email address"
            [required]="true"
            [value]="emailSg()"
            (valueChange)="emailSg.set($event)"
            #emailInput
          ></app-email-input>

          @if (errorSg()) {
            <app-message [message]="errorSg()!" type="error" />
          }

        }
      } @else if (isValidatingSg()) {
        <p class="reset-password-page__validating">Validating recovery link...</p>
      } @else if (!isTokenValidSg()) {
        <app-message type="error" message="Invalid or expired recovery link" />
        <div class="reset-password-page__footer">
          <div class="reset-password-page__footer-text">Don't have a recovery link?</div>
          <a routerLink="/login/reset" class="link-primary">Request a new one</a>
        </div>
      } @else {
        <app-password-input
          label="New Password"
          [required]="true"
          [min]="10"
          [max]="20"
          [showCriteria]="true"
          [value]="passwordSg()"
          (valueChange)="passwordSg.set($event)"
          #passwordInput
        ></app-password-input>

        <app-password-input
          label="Confirm Password"
          [required]="true"
          [value]="confirmPasswordSg()"
          (valueChange)="confirmPasswordSg.set($event)"
          #confirmPasswordInput
        ></app-password-input>

        @if (errorSg()) {
          <app-message [message]="errorSg()!" type="error" />
        }

      }
  </div>

  @if (!tokenSg() && !isRequestSuccessSg() && !isSuccessSg()) {
    <app-auth-form-footer
      auth-footer
      label="Send Recovery Link"
      [inProgress]="isLoadingSg()"
      (action)="requestReset()"
      hintText="Remember your password?"
      hintLinkText="Back to login"
      hintLinkUrl="/login"
    />
  } @else if (tokenSg() && isTokenValidSg() && !isSuccessSg()) {
    <app-auth-form-footer
      auth-footer
      label="Reset Password"
      [inProgress]="isLoadingSg()"
      (action)="submit()"
    />
  }
</app-auth-layout>
