<div class="password-input">
  <div class="password-input__form-group">
    <label class="password-input__label" for="password">
      {{ labelSg() }}
    </label>
    <div class="password-input__input-wrapper">
      <input
        class="password-input__input"
        [class.password-input__input--error]="errorSg()"
        id="password"
        [type]="getInputType()"
        [value]="valueSg()"
        (input)="onValueChange($any($event.target).value)"
      />
      <button
        type="button"
        class="password-input__toggle-btn"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="showPasswordSg() ? 'Hide password' : 'Show password'"
      >
        @if (showPasswordSg()) {
          <mat-icon class="password-input__icon">visibility_off</mat-icon>
        } @else {
          <mat-icon class="password-input__icon">visibility</mat-icon>
        }
      </button>
    </div>
  </div>

  @if (showCriteriaSg()) {
    <div class="password-input__criteria">
      <div
        class="password-input__criteria-item"
        [class.password-input__criteria-item--met]="hasUppercaseSg()"
      >
        <span class="password-input__criteria-icon">
          @if (hasUppercaseSg()) {
            <mat-icon>check_circle</mat-icon>
          } @else {
            <mat-icon>radio_button_unchecked</mat-icon>
          }
        </span>
        <span class="password-input__criteria-text">1 uppercase letter (A-Z)</span>
      </div>

      <div
        class="password-input__criteria-item"
        [class.password-input__criteria-item--met]="hasLowercaseSg()"
      >
        <span class="password-input__criteria-icon">
          @if (hasLowercaseSg()) {
            <mat-icon>check_circle</mat-icon>
          } @else {
            <mat-icon>radio_button_unchecked</mat-icon>
          }
        </span>
        <span class="password-input__criteria-text">1 lowercase letter (a-z)</span>
      </div>

      <div
        class="password-input__criteria-item"
        [class.password-input__criteria-item--met]="hasDigitSg()"
      >
        <span class="password-input__criteria-icon">
          @if (hasDigitSg()) {
            <mat-icon>check_circle</mat-icon>
          } @else {
            <mat-icon>radio_button_unchecked</mat-icon>
          }
        </span>
        <span class="password-input__criteria-text">1 number (0-9)</span>
      </div>

      <div
        class="password-input__criteria-item"
        [class.password-input__criteria-item--met]="hasSpecialSg()"
      >
        <span class="password-input__criteria-icon">
          @if (hasSpecialSg()) {
            <mat-icon>check_circle</mat-icon>
          } @else {
            <mat-icon>radio_button_unchecked</mat-icon>
          }
        </span>
        <span class="password-input__criteria-text">1 special character (!@#$%^&*.)</span>
      </div>

      <div
        class="password-input__criteria-item"
        [class.password-input__criteria-item--met]="hasMinLengthSg()"
      >
        <span class="password-input__criteria-icon">
          @if (hasMinLengthSg()) {
            <mat-icon>check_circle</mat-icon>
          } @else {
            <mat-icon>radio_button_unchecked</mat-icon>
          }
        </span>
        <span class="password-input__criteria-text">At least 10 characters</span>
      </div>
    </div>
  }

  <app-error [message]="errorSg()" />
</div>
