@use 'variables/colors' as *;

@mixin scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
    transition: background 200ms ease;
  }

  &:hover {
    scrollbar-color: $color-scrollbar-thumb $color-scrollbar-track;

    &::-webkit-scrollbar-track {
      background: $color-scrollbar-track;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-scrollbar-thumb;
      border: 2px solid $color-scrollbar-track;
      background-clip: padding-box;

      &:hover {
        background: $color-scrollbar-thumb-hover;
        background-clip: padding-box;
      }
    }
  }
}
